doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./email.css
            
    body 
        h2 Reestablecer password 
        p Hola, has solicitado reestablcer tu password, haz clik en el siguiente enlace para reestablecerlo: 
        a(href=`${reseturl}`) Ir a cambiar Password
        p Este enlace es temporal, así que si se vence vuelve a solicitarlo. 
        p ¡Si no solicitaste este e-mail, puedes ignarlo!